<?xml version="1.0" encoding="UTF-8"?>
<web-app>


  <display-name>pro09</display-name>
  <servlet>
<servlet-name>aaa</servlet-name>
<servlet-class>sec01.ex01.FirstServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>aaa</servlet-name>
<url-pattern>/first</url-pattern>
</servlet-mapping>

<context-param>
<param-name>mainEmail</param-name>
<param-value>main@email.com</param-value>
</context-param>
</web-app>